
DoreDoreWeb/.vs/DoreDoreWeb/FileContentIndex/b4c883fc-2808-4d36-8982-8c3ef6770049.vsidx
DoreDoreWeb/.vs/DoreDoreWeb/FileContentIndex/5d13e158-73db-4c89-910b-8bb3f9ccc38e.vsidx
DoreDoreWeb/.vs/DoreDoreWeb/FileContentIndex/a66db4dc-0cd3-4486-b055-c6038ab953b4.vsidx
DoreDoreWeb/.vs/DoreDoreWeb/FileContentIndex/cccfcf07-fadf-47f3-8f68-54f823353056.vsidx
DoreDoreWeb/.vs/DoreDoreWeb/FileContentIndex/f1e0911a-5b9e-4659-83e3-6af3e7e37b53.vsidx
